@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    /* font-family: 'Nunito', sans-serif; */
    background-color:rgba(250, 235, 215, 0.335);
}
h1{
    font-family: 'Nunito', sans-serif;
}
#search-result .card{
    background-color: rgba(225, 235, 245, 0.219);
}
#search-result button{
    text-align: center;
    margin: auto;
    border-radius: 8px;
}
#phone-details{
    width: 50%;
}
#search-result img{
    width: 80%;
    margin: auto;
}
#phone-details .card{
    border-radius: 20px;
    background-color: rgba(225, 235, 245, 0.137);
}
#phone-details img{
    width: 60%;
    margin: auto;
}
.box{
    border-radius: 15px;
}
footer{
    font-weight: 600;
    font-size: 18px;
}


#spinner{
    display: none;
}

/* Responsive Design with media query */
@media (max-width: 800px){
    #phone-details{
        width: 100% !important;
    }
    .h4, h4 {
        font-size: calc(1.575rem + .3vw);
    }
    #search-result img {
        width: 70%;
        margin-bottom:0px !important;
    }
    #search-result button{
        margin-bottom: 10px !important;
    }
}